.avater {
  width: 15vw;
  border-radius: 50%;
  border: 2px solid red;
}

.role{
  background-color: gray;
  padding: 2px 20px;
  border-radius: 10px;
  color: white;
  font-size: small;
}

.profile p{
  margin-top: 25px;
  text-decoration: underline;
}

.profile{
  border-left: 2px solid red;
  /* max-height: 75vh !important;
  overflow-y: scroll; */
}

.allsubjects {
  font-size: 5rem;
}

.card {
  margin-top: 1.5vh;
}